{{#each guitars as |guitar|}}


  <!-- TODO make the entirety of these divs (not including the buttons, which have their own functions) clickable
by adding a class so that the enhanced view pops up for the guitar clicked on. Also add a message so users can know the divs are
clickable, but the message should probably be in ui.js, not here-->

  <div data-id="{{guitar.id}}">
    <div class="col-xs-7 col-sm-6 col-md-4 spaced">
      <h4>Make: {{guitar.make}}</h4>
      <h4>Model: {{guitar.model}}</h4>

      <button data-id= {{guitar.id}}  data-toggle="modal" data-target="#expand-modal" class="btn btn-default btn-block expandButton">See details</button>

    </div>
  </div>

{{/each}}
