$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './main.css';

html {
  height: 100%;
  width: 100%;
}

a {
  /* // margin: 7vw; */
  margin: 0 auto;

  /* // color: #012; */
  color: white;
}

body {
  background-color: #def;
  font-family: georgia, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=40ad7b124b789719a70c867561138701&auto=format&fit=crop&w=1500&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -175px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 7vh;
  font-size: 7vw;
  color: #4e5f74;

  /* // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

h4 {
  text-align: center;
}

// A background image for modal. May come back to this idea
// .create {
//   background-image: url('https://images.unsplash.com/photo-1456948927036-ad533e53865c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6bb892f8f4973cf37f34681d40544efc&auto=format&fit=crop&w=1050&q=80');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: -200px;
// }

// Example of a wildcard selector, something I didn't realize existed
// [class*=' col-']

.left-butt {
  margin-right: 7vw;
}

.right-butt {
  margin-left: 7vw;
}

.user-options {
  background-color: #ddf;
  text-align: center;
}

.catalog {
  max-width: 70%;
  margin: 0 auto;
}

p {
  text-align: center;
  max-width: 38vw;
  margin: 0 auto;
  font-size: 20px;
}

.user-options input {
  margin: 2vh 0;
  display: inline;
}

.spaced {
  // margin: 0 20px;
  background-color: #def;
  padding: 0;
  border: 5px solid white;
  border-radius: 7px;
}

.col-lg-3 {
  padding: 10px;
}

.intro {
  margin-bottom: 5vh;
  border: solid black 3px;
  border-radius: 5px;
  background-color: black;
  padding: 7px;
  text-align: center;
}

.intro-text {
  background-color: gray;
  display: none;
}

li {
  margin: 15px;
}

input[type=date] {
  margin-bottom: 15px;
}

input[type=number] {
  margin-bottom: 15px;
}

.user-page {
  display: none;
  width: 100%;
}

.login-feedback {
  display: none;
}

label {
  font-weight: normal;
}

.signup-feedback {
  display: none;
}

.loading {
  display: none;
}

.btn-warning {
  margin-bottom: 5px;
}

.row {
  margin: 0;
}

.modal-container {
  padding: 30px;
  max-width: 350px;
  width: 100%;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.modal-container h2 {
  text-align: center;
  font-size: 1.8em;
}

.modal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.modal-container input[type=text],
input[type=password],
input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  // background-color: #4e5f74;
  // color: white;
}

.modal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
