$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

a {
  margin: 10vw;
}

body {
  background-color: #def;
}

h1 {
  text-align: center;
  margin-bottom: 3vh;
}

.left {
  background-color: #ddf;
}

.right {
  background-color: #ffd;
}

p {
  text-align: center;
  max-width: 70vw;
  margin: 0 auto;
}

.left input {
  margin: 2vh;
  margin-left: 0;
}

.intro {
  margin-bottom: 5vh;
}

li {
  margin: 5px;
}

input[type=date] {
  margin-bottom: 15px;
}

input[type=number] {
  margin-bottom: 15px;
}

.user-page {
  display: none;
}

.login-feedback {
  display: none;
}

.signup-feedback {
  display: none;
}

.spaced {
  margin-bottom: 15px;
  border: solid yellow 1px;
}

.modal-container {
  padding: 30px;
  max-width: 350px;
  width: 100%;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.modal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.modal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.modal-container input[type=text],
input[type=password],
input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.modal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
